GARAGE_ENDPOINT=http://s3.lan:3900
GARAGE_REGION=garage
GARAGE_BUCKET=nodejs-test
GARAGE_ACCESS_KEY=GKxxxxxxxxxxxxxxxxxxxxxx
GARAGE_SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
